* {
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    margin: 0 auto;

}

.text-center {
    text-align: center;
}

.item {
    width: 50%;
    display: inline-block;
}
.wrapper {
    font-size: 0;
}
.item {
    font-size: 16px;
}

